
.footer {
    background-color: #222222;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;  
  }
  .jumbotron {
    background: transparent !important;
    text-emphasis: bold;
  }
  .modal-body {
    background: url(https://mcdn.wallpapersafari.com/medium/21/0/i1dOC6.jpg); 
    color: whitesmoke;
    background-size: cover;
  }
  .modal-footer  {
    /* background-color: gray;
    color: black; */
    background: url(https://www.kindpng.com/picc/m/135-1356093_colorful-purple-smoke-stickers-myedit-transparent-background-purple.png); 
    background-size: cover;
  }

  #table-wrapper {
    height: 500px;
    padding: 0px;
    margin: 0px auto 0px auto;
    overflow: auto;
 }

 .ellipsis {
  display: block;
  white-space: nowrap;
  width: 200px;
  overflow: hidden;
}

  .popup {
    color: black;
    padding: 60px;
    margin: 50px;
    text-align: center;
  }

  .App {
    text-align: center;
    background: url(https://mcdn.wallpapersafari.com/medium/21/0/i1dOC6.jpg); 
    background-size: cover;
    margin-bottom: 0;
    position: relative;
    min-height: 100vh;
  }
  .UserApp {
    padding-bottom: 2.5rem;
    color: whitesmoke;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  