
.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 40px;
    background-color: #222222;
  }
  .jumbotron {
    background: transparent !important;
    text-emphasis: bold;
  }

  .popup {
    color: black;
    padding: 60px;
    margin: 50px;
    text-align: center;
  }
  
  .App {
    text-align: center;
    background-image: url(https://mcdn.wallpapersafari.com/medium/21/0/i1dOC6.jpg);
    background-size: cover;
    color: white
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  